<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h3>Edit Your Listing</h3>

            <form method="POST" action="/listings/<%= listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" value="<%= listing.title%>" name="listing[title]" class="form-control" required/>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text"
                        class="form-control" required><%= listing.description%></textarea>
                        <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    Original Listing Image <br/>
                    <img src="<%= originalImageUrl %>"/>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image]" class="form-control"/>
                </div>
                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" value="<%= listing.price%>" name="listing[price]" class="form-control" required/>
                        <div class="invalid-feedback">Price should be a number</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" value="<%= listing.country%>" name="listing[country]" class="form-control" required/>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" value="<%= listing.location%>" name="listing[location]" class="form-control" required/>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <br /><br />
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
        </div>
    </div>

    <script src="/js/script.js"></script>